html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
} 

html {
    font-size: 16px
}

#main {
  /*  margin: 0rem 1.5rem; */
    font-family: 'Merriweather', serif;
}

@media only screen and (min-width:200px) and (max-width:480px) {
    #main {
        width: 100%;
        margin: 0;
    }

    html {
        overflow-x: hidden;
    }
}

.container {
    display: flex;
}

header {
    height: 4rem;
    justify-content: space-between;
    padding: 1.5rem 0;
    align-items: center;
    margin: 0rem 1.5rem;
}

header span {
    text-transform: uppercase;
}

.colmar {
    color:#4287FC;
    font-weight: 700;
}

#logo {
    height: 2rem;
    align-items: center;
}

nav ul li {
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    background-color:#93BBFF;
    padding: 0.75rem;
    color: #fff;
    font-weight: bold;
    border-radius: 2rem 3rem;
}

nav a:hover {
    background-color: #6BA2FF;
}

.mobile {
    display: none;
}

/* Mobile version screen min-width:200px max-width: 480px */
@media only screen and (min-width:200px) and (max-width:480px) {
    #logo {
        display: none;
    }

    .computer {
        display: none;
    }

    .mobile {
        display: block;
    }

    header {
        height: 4rem;
        justify-content: center;
    }

    nav a {
        text-decoration: none;
        background-color:#fff;
    }
    
    li img {
        margin-left: 2rem;
    }
    
}




/* Introduction Section */

section:nth-of-type(odd){
    background-color: #C2D9FF;
}


.banner {
    width: 60%;
}

.intro_picture {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 33rem;
    margin: 2rem 1.5rem;
}

.intro.container {
    width: 25%;
    flex-direction: column;
    justify-content: center;
}

.intro h1, p, a {
   /* padding: 0rem 0rem 1.5rem 1.5rem; */
    line-height: 2rem;
    font-weight: 700;
}

.intro h1 {
    font-size: 2rem;
}

.intro p {
    font-size: 1rem;
}

.button{
    background-color: #6BA2FF;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
   /* margin: 4px 24px; */
    transition: 2s;
    opacity: 0.6;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #4287FC;
    opacity: 1;
}

/* Mobile version screen min-width:200px max-width: 480px */
@media only screen and (min-width:200px) and (max-width:480px) {
    .introduction {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .banner {
        width: 100%;
    }

    .intro_picture {
        background-image: url("../images/banner.jpg");
        background-size: cover;
        background-position: center;
        height: 16rem;
        margin: 0;
        width: 100%;
    }

    .intro.container {
        width: 80%;
        margin: auto;
        flex-direction: column;
    }
    
    .button{
        background-color: #6BA2FF;
        border: none;
        color: white;
        padding: 0.5rem 1rem;
        text-align: center;
       /* margin: 4px 24px; */
        transition: 2s;
        opacity: 0.6;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
    }

    .intro h1, p, a {
        /* padding: 0rem 0rem 1.5rem 1.5rem; */
         line-height: 2rem;
         font-weight: 700;
     }
     
     .intro h1 {
         font-size: 2rem;
         padding: 2rem 0 2rem 1rem;
     }
     
     .intro p {
         font-size: 1rem;
         padding: 0rem 0 1.5rem 1rem;
     }

     .intro a {
        font-size: 1rem;
        margin: 0rem 0 1.5rem 1rem;
    }
}

/* Information Section */
.information {
    margin: 2rem 1.5rem;
}

.left {
    width: 60%;
}

.left img {
    width: 100%;
    padding-bottom: 2rem;
}

.left h2{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.left q{
    display: inline-block;
    font-weight: normal;
    padding-bottom: 1.5rem;
    line-height: 1.5rem;
}

.left span {
    font-size: 0.8rem;
    padding-bottom: 2rem;
}

.right {
    width: 40%;
    margin-left: 1.5rem;
}

article {
    display: flex;
    justify-content: space-between;
    height: 11rem;
    border: #C2D9FF 0.1rem solid;
}

article:hover {
    background-color: #93BBFF;
    color:#fff;
    border: #fff 0.1rem solid;
}

article img {
    width: 35%;
    height: 10rem;
    padding: 1rem 1rem;
}

.article_content {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article_content h3 {
    padding-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.read_more {
    text-decoration: none;
    font-size: 0.8rem;
    color: #4287FC;
}

/* Mobile version screen min-width:200px max-width: 480px */
@media only screen and (min-width:200px) and (max-width:480px) {
    .info_img {
        display: none;
    }

    .right {
        width: 100%;
        margin-left: 1.5rem;
    }

    .article_info {
        display: flex;
        flex-direction: column;
        border: 0 solid #fff;
        padding-bottom: 4rem;
        height: 19rem;
    }

    article img {
        width: 100%;
        height: 13rem;
        z-index: 2;
    }

    .article_content {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-top: 2.5rem;
        padding-left: 2rem;
    }
}

/* learning Section */

.learning {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learning h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card_mobile {
    display: none;
}

.card img {
    height: auto;
    width: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card_content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 20rem;
    height: 10rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    position: relative;
    bottom: 0.5rem;
    padding-left: 2rem;
    padding-top: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card_content span {
    padding-bottom: 0.7rem;
}

.card_description {
    width: 80%;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.card_title {
    font-weight: bold;
    font-size: 1.1rem;
}

/* Mobile version screen min-width:200px max-width: 480px */
@media only screen and (min-width:200px) and (max-width:480px) {
    .card_img {
        display: none;
    }

    .card_title {
        display: block;
        padding-top: 0.5rem;
    }

    .course {
        display: none;
    }

    .card_description {
        display: none;
    }

    .card_content {
        background-color: #fff;
        width: 19rem;
        height: 4rem;
        margin-bottom: 2rem;
        margin-right: 2rem;
        margin-left: 3rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

/* Thesis section */

.thesis_title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 2rem;
}

.urban {
    padding-top: 1.5rem;
}

/* Mobile version screen min-width:200px max-width: 480px */
@media only screen and (min-width:200px) and (max-width:480px) {
    .thesis_info {
        display: none;
    }

    .thesis_video.left{
        width: 100%;
        padding-bottom: 2rem;
    }

    div video {
        height: 100%;
    }

    .thesis_content {
        display: none;
    }
}


/* footer */

footer {
    margin-top: -2rem;
    background-color: #C2D9FF;
    font-size: 0.8rem;
}

.foot {
    justify-content: space-between;
    padding: 1.5rem 0.5rem 2.5rem 1.5rem;
}

.foot_nav span {
    padding-right: 1rem;
}


/* Mobile version screen min-width:200px max-width: 480px */
@media only screen and (min-width:200px) and (max-width:480px) {
    .foot_nav {
        display: none;
    }
}


/* Mobile version screen max-width: 1024px */
@media only screen and (min-width:768px) and (max-width:1024px) {
    footer {
        margin-top: 4rem;
    }
}